<div class="site-header">
    <div class="header-row menu-hover">
        <a id="menu-button" class="middle-20"><i class="pull-left fa fa-bars"></i></a>

        <div class="middle-60 text-center">
            <div class="logo-title logo">
                <img src="/img/logo-goat.png">
            </div>
        </div>

        <ul class="middle-20 text-right list-inline">
            <li class="no-mobile"><a href="http://twitter.com/GOAgileTour">
                <i class="fa fa-twitter"></i></a></li>
            <li class="smooth-scroll"><a href="/#contact">
                <i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>

    <div class="menu-panel-wrapper menu-hover smooth-scroll">
        <div class="menu-panel text-center">
            <ul class="list-inline">
                {% if page.url contains '/en/' %}
                    <li><a href="/"          title="Home">Home</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#partners" title="Partners">Partners</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#program"  title="Program">Program</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#contact"  title="Contact us">Contact us</a></li>
                {% elsif page.url contains '/fr/' %}
                    <li><a href="/"          title="Accueil">Accueil</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#partners" title="Partenaires">Partenaires</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#program"  title="Programme">Programme</a></li> <li class="wider">&bull;</li>
                    <li><a href="/#contact"  title="Contactez-nous<">Contactez-nous</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="site-header-padding">
</div>
